FEISHU_APP_ID=cli_xxxxxxxxxxxxxxxx
FEISHU_APP_SECRET=replace_with_rotated_secret
FEISHU_SPREADSHEET_TOKEN=ZWkQsuOo7h0zywtIqTqcug9enTc
FEISHU_SHEET_TITLE=
FEISHU_SHEET_TITLE_PREFIX=报价日期-
FEISHU_CELL=AB4
FEISHU_BOT_WEBHOOK=https://open.feishu.cn/open-apis/bot/v2/hook/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
FEISHU_BOT_SECRET=replace_with_bot_sign_secret
